{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1 class="mb-4">{{ user.username }}-ის ვაკანსიები ({{ jobs|length }})</h1>

  {% for job in jobs %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ job.title }}</h5>
        <p class="card-text">{{ job.short_description }}</p>
        <a href="{{ url_for('main.job_detail', job_id=job.id) }}"
           class="btn btn-sm btn-dark">Read More</a>
      </div>
    </div>
  {% else %}
    <p class="text-muted">ამ მომხმარებელს ჯერ არ დაუმატებია ვაკანსია.</p>
  {% endfor %}
{% endblock %}